
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="" method="post">
    <div>
        <table class="table" border="1">
            <tr>
                <td><h3>NAME :</h3></td>
                <td><input type="text" name="Name" value="Name"></td>
            </tr>
            <tr>
                <td><h3>PASSWORD :</h3></td>
                <td><input type="password" name="Password" value="Password"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" class="btn btn-success" value="Login"></td>
            </tr>

        </table>



    </div>
</form>
