@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Are you Admin or Customer?</h1>
    <a class="btn btn-danger" href="/Home/Product">Admin</a>
    <a class="btn btn-success" href="/Login/Login">Customer</a>
    


</div>